.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    margin: 10px auto;
    background-color: #FF3030;
    border-radius: 4px;
    color: white;
}

#btn-order{
    color: white
}


